.divFoto{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    margin-bottom: 50px;
}

.fotoDeputado {
    border-radius: 25px;
    width: 300px;
    margin-bottom: 100px;
}

.infoPessoal {
    background: rgba(103, 103, 103, 0.4);
    font-family: 'Urbanist';
    font-size: 20px;
    font-weight: 500;
}

.titulo {
    background: rgba(103, 103, 103, 0.6);
}

.subtitulo {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 10px;
}

.mapa {
    display: flex;
    justify-content: center;
}