@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.deputados {
  margin-top: 50px;
}

.botao {
  background: linear-gradient(207.67deg, #105A06 3.43%, #9BE319 104.7%) !important;
  height: px !important;
  width: 110px !important;
  border: none !important;
  font-family: 'Urbanist';
  font-size: 16px;
  font-weight: 700;
  border-radius: 9px;
  margin-top: 10px;
  
}
.title{
  color: white;
}