.deputados {
  margin-top: 50px;
}

.botao {
  background: linear-gradient(207.67deg, #105A06 3.43%, #9BE319 104.7%);
  height: 56px;
  width: 126px;
  border: none;
  font-family: 'Urbanist';
  font-size: 16px;
  font-weight: 700;
  
}